{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p> I'm Aruneswar</p>
        <p>Things about me well there's a lot to say and things i like also it's a lot</p>
        <p>Created this blog as a test for my skills and also just to share some useful and interesting information to you</p>
        <p style="padding-top:50px; text-align:center; color:#007bff;"> <strong>Working on a perfect bio😉 </strong></p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}